@tailwind base;
@tailwind components;
@tailwind utilities;

#searchBar {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  appearance: "textfield";
  outline-offset: -2px;
  quotes: auto;
}
